@using System.Web.Mvc.Html
<!DOCTYPE html>
<html>
    <head>
        <title></title>
		<style type="text/css">
		* {
			font-family: arial,sans-serif;
			font-size: small;
		}
		</style>
        @RenderSection("customHead", required: false)
    </head>
    <body>
        @RenderBody()
    </body>
</html>
