<div class="text-sm breadcrumbs">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/profile">Profile</a></li>
    <li><a routerLink="/profile/details/">New User</a></li>
  </ul>
</div>

<form [formGroup]="userForm">
  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Email</span>
    </label>
    <input
      [readonly]="true"
      type="email"
      placeholder="Type here"
      class="input input-bordered w-full max-w-xs"
      formControlName="userName"
    />
    <label class="label">
      <span class="label-text-alt text-red-500"
        >@if (userForm.get('email')?.invalid && userForm.get('email')?.touched)
        { Valid Email is required }</span
      >
    </label>
  </div>

  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Full Name</span>
    </label>
    <input
      type="text"
      placeholder="Type here"
      class="input input-bordered w-full max-w-xs"
      formControlName="name"
    />
    <label class="label">
      <span class="label-text-alt text-red-500"
        >@if (userForm.get('firstName')?.invalid &&
        userForm.get('firstName')?.touched) { First Name is required }</span
      >
    </label>
  </div>

  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Selected Roles</span>
    </label>
    <table>
      <thead>
        <tr>
          <th>Selected</th>
          <th>Role Name</th>
        </tr>
      </thead>
      <tbody>
        @for (role of roles; track role.roleName) {
        <tr>
          <td>
            <input
              class="checkbox"
              type="checkbox"
              [checked]="hasRole(role)"
              (change)="onRoleChange(role, $event)"
            />
          </td>
          <td>
            {{ role.roleName }}
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  @if (errorMessage) {
  <div class="alert alert-error mb-4">
    <span>{{ errorMessage }}</span>
  </div>
  }

  <button
    type="submit"
    class="btn btn-primary mt-4"
    [attr.aria-disabled]="userForm.invalid || isSubmitting"
    [disabled]="userForm.invalid || isSubmitting"
    (click)="onSubmit()"
  >
    Save
  </button>
</form>
