<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>
          <label
            title="Active"
            style="display: flex; align-items: center; gap: 0.5em"
          >
            <input
              type="checkbox"
              class="checkbox"
              disabled="disabled"
              title="Active"
            />
            <span>Active</span>
          </label>
        </th>
        <th>User Name/name</th>
        <th>Role</th>
        <th>Scopes</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (c of allUsers; track c) {
      <tr (click)="selectUser(c)">
        <th>
          <label>
            <input type="checkbox" class="checkbox" [checked]="c.isActive" />
          </label>
        </th>
        <td>
          <div class="flex items-center gap-3">
            <div>
              <div class="font-bold">{{ c.userName }}</div>
              @if (c.name) {
              <div class="text-sm opacity-50">{{ c.name }}</div>
              } @else {
              <div class="text-sm opacity-50"><i>empty name</i></div>
              }
            </div>
          </div>
        </td>
        <td>
          <span class="badge badge-ghost badge-sm">{{ c.role }}</span>
        </td>
        <td>
          <button class="btn btn-ghost btn-xs">Impersonate</button>
        </td>
        <th></th>
      </tr>
      }
    </tbody>
  </table>
</div>
