<p>Create new profile</p>
<div class="register-profile">
  <form [formGroup]="registerForm">
    <div><label>Full Name<input type="text" formControlName="name" name="name" autocomplete="name" /></label></div>
    <div><label>Login<input type="text" name="username" formControlName="username" autocomplete="username" /></label></div>
    <div><label>Password <input type="password" name="password" formControlName="password" autocomplete="new-password" /></label></div>
    <div>
      <label for="user-role">Role</label>
      <select id="user-role" name="role" formControlName="role">
        <option [value]="''"></option>
        <option [value]="'Everyone'" [defaultSelected]="true">Everyone</option>
      </select>
    </div>
    <div>
      <input type="reset" value="Cancel" (click)="onCancel()" />
      <input type="submit" value="Create" (click)="onSubmit()" />
    </div>
  </form>
</div>
