<figure class="stats">
  <button class="btn-outline-secondary my-2 my-sm-0">
    <label class="click-to-upload btn-outline" [class.btn]="!item.sourceUrl">
      @if (item.sourceUrl) {
      <div [content-view]="item.description"></div>
      } @else if (item.origin) {
      <img src="{{ item.origin }}" />
      } @else {
      <i class="fa fa-3x">camera</i>
      }
      <input
        type="file"
        class="hidden"
        accept="image/*,video/*"
        (input)="uploadMedia($event)"
      />
    </label>
    @if (item.mediaError) {
    <div class="stat-desc text-secondary">{{ item.mediaError }}</div>
    }
  </button>
</figure>
<div class="card-body">
  <h2
    placeholder="Enter title..."
    class="card-title bg-slate-700 w-100"
    [(code-editor)]="item.title"
    (code-editorChange)="contentChange(item)"
  ></h2>
</div>
