<ng-template #mainMenu>
  <li>
    <a routerLinkActive="menu-active" routerLink="/home">Home</a>
  </li>
  <li>
    <a routerLinkActive="menu-active" routerLink="/clients">Clients</a>
  </li>
  <li>
    <a routerLinkActive="menu-active" routerLink="/profile">Profile</a>
  </li>
  <li>
    <details>
      <summary>Subscriptions</summary>
      <ul>
        <li>
          <a routerLinkActive="menu-active" routerLink="/subscriptions">
            Subscriptions
          </a>
        </li>
        <li>
          <a
            routerLinkActive="menu-active"
            routerLink="/subscriptions/old-channels"
          >
            Old Channels
          </a>
        </li>
      </ul>
    </details>
  </li>
  <li>
    <a routerLinkActive="menu-active" routerLink="/register">Register</a>
  </li>
</ng-template>

<div class="drawer">
  <input id="main-menu" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <header class="navbar bg-base-100 shadow-sm app-header">
      <nav class="navbar-start">
        <label
          for="main-menu"
          aria-label="open sidebar"
          class="btn btn-square btn-ghost"
        >
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"
              />
            </svg>
          </div>
        </label>
      </nav>
      <nav class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <ng-container *ngTemplateOutlet="mainMenu"></ng-container>
        </ul>
      </nav>
      <nav class="navbar-end">
        <button class="btn btn-ghost" (click)="openLogin()">Login</button>
      </nav>
    </header>

    <div class="container">
      @if (isLoading) {
      <div>Loading...</div>
      } @else {
      <router-outlet></router-outlet>
      }
    </div>
  </div>
  <div class="drawer-side">
    <label
      for="main-menu"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <ul class="menu bg-base-200 min-h-full w-80 p-4">
      <ng-container *ngTemplateOutlet="mainMenu"></ng-container>
    </ul>
  </div>
</div>

<router-outlet #accountOutlet="outlet" name="account"></router-outlet>
