<header class="navbar bg-base-100">
  <nav class="navbar-start"></nav>
  <nav class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a routerLinkActive="menu-active" routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLinkActive="menu-active" routerLink="/clients">Clients</a>
      </li>
      <li>
        <a routerLinkActive="menu-active" routerLink="/profile">Profile</a>
      </li>
      <li>
        <a routerLinkActive="menu-active" routerLink="/subscriptions">
          Subscriptions
        </a>
      </li>
      <li>
        <a routerLinkActive="menu-active" routerLink="/register">Register</a>
      </li>
    </ul>
  </nav>
  <nav class="navbar-end">
    <button class="btn btn-ghost" (click)="openLogin()">Login</button>
  </nav>
</header>

<div class="container">
  @if (isLoading) {
  <div>Loading...</div>
  } @else {
  <router-outlet></router-outlet>
  }
</div>

<router-outlet #accountOutlet="outlet" name="account"></router-outlet>
