<div class="overflow-x-auto">
    @for (c of allClients; track c) {
      <div class="card card-side m-4 shadow" (click)="selectClient(c)">
        <figure>
          <div class="stat">
            <div class="stat-title">
              {{ c.clientId }}
            </div>
            <div class="">
              {{ c.clientName }}
            </div>
            <div class="stat-desc">
              {{ c.clientUri }}
            </div>
          </div>
        </figure>
        <div class="card-body">
          <label class="label">
            <input type="checkbox" class="toggle toggle-primary" [checked]="c.isActive" title="Is Active" />
            <span class="text-sm">Is Active</span>
          </label>
          <div class="font-bold break-all">{{ c.redirectUri }}</div>
          <div class="text-sm opacity-50">
            @for (s of c.allowedScopes; track s) {
              <span class="badge badge-ghost badge-sm">{{ s }}</span>
            }
          </div>
          <div class="card-actions">
            <button class="btn btn-primary" (click)="generateApplicationAccessToken(c.clientId, $event)">
              Make App Token
            </button>
          </div>
          </div>
      </div>
    }
</div>
<hr/>
<div>
  <button class="btn" (click)="request()">Request data</button>
</div>
@if(appToken.accessToken) {
  <div class="card bg-base-200">
    <div class="card-body">
      <h2 class="card-title">Application Token</h2>
      <p class="py-6 access-token">{{ appToken.accessToken }}</p>
    </div>
  </div>
}