<div class="join join-vertical bg-base-100 w-full">
  <div class="collapse collapse-arrow join-item border-base-300 border">
    <input type="radio" name="add-entry-1" checked="checked" />
    <div class="collapse-title font-semibold">Add Entry</div>
    <div class="collapse-content text-sm">
      <fieldset class="fieldset bg-base-100 rounded-box">
        <label class="label px-1">German</label>
        <textarea
          placeholder="Enter a sentence..."
          class="input input-bordered w-full"
          [value]="deText"
          (input)="deText = getValue($event)"
        ></textarea>

        <label class="label px-1">English</label>
        <textarea
          placeholder="Enter a sentence..."
          class="input input-bordered w-full"
          [value]="enText"
          (input)="enText = getValue($event)"
        ></textarea>

        <button
          class="btn btn-neutral mt-4"
          [attr.aria-disabled]="!enText || !deText"
          [disabled]="!enText || !deText"
          (click)="addEntry()"
        >
          Add
        </button>
      </fieldset>
    </div>
  </div>
  <div class="collapse collapse-arrow join-item border-base-300 border">
    <input type="radio" name="add-entry-1" />
    <div class="collapse-title font-semibold">
      Add multiple entries (copy/paste)
    </div>
    <div class="collapse-content text-sm">
      <p class="mb-2">
        You can add multiple entries at once by copying and pasting them in the
        following format:
      </p>
      <pre class="bg-base-200 p-2 rounded-box mb-4">
English sentence 1 - German sentence 1
English sentence 2 - German sentence 2
...
        </pre
      >
      <p class="mb-2">
        Just make sure to separate the English and German sentences with a
        :space:tab:space: character.
      </p>
      <textarea
        placeholder="Enter sentences in the format: English[ - ]German"
        class="input input-bordered w-full h-48"
        [value]="bulkText"
        (input)="onChangeBulkText($event)"
      ></textarea>

      <button
        class="btn btn-neutral mt-4"
        [attr.aria-disabled]="!bulkText"
        [disabled]="!bulkText"
        (click)="addBulkEntries()"
      >
        Add Entries
      </button>
    </div>
  </div>
</div>

<div class="overflow-x-auto rounded-box border-base-content/5 bg-base-100 py-4">
  <div class="join w-full">
    <label class="input join-item w-full">
      Text:
      <input
        type="text"
        name="search"
        placeholder="Enter a sentence..."
        [value]="searchTerm"
        (input)="changeSearchTerm($event.target.value)"
      />
      <span class="btn badge" (click)="resetSearchTerm()">Reset</span>
    </label>
    <button class="btn join-item" (click)="doSearch()">Search</button>
  </div>
</div>
<div class="pagination join">
  @for (p of pages; track p) {
  <input
    type="radio"
    name="paging-1"
    class="join-item btn btn-square"
    [attr.checked]="page === p + 1 ? 'checked' : null"
    [attr.aria-label]="p + 1"
    value="{{ p + 1 }}"
    (click)="goToPage(p + 1)"
  />
  }
</div>
<div class="overflow-x-auto rounded-box border-base-content/5 bg-base-100">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>German - English</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      @for (entry of results; track entry.id) {
      <tr>
        <td (click)="changeSelectedItem(entry)">
          <code
            class="block w-full"
            [code-editor]="entry.de + ' - ' + entry.en"
            (code-editorChange)="onEntryChange($event)"
          ></code>
        </td>
        @if (selectedItem && selectedItem.id === entry.id) {
        <td class="flex justify-center">
          <button class="btn" (click)="saveEntry()">Save</button>
        </td>
        } @else {
        <td>{{ entry.createdAt }}</td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>
<div class="pagination join">
  @for (p of pages; track p) {
  <input
    type="radio"
    name="paging-2"
    class="join-item btn btn-square"
    [attr.checked]="page === p + 1 ? 'checked' : null"
    [attr.aria-label]="p + 1"
    value="{{ p + 1 }}"
    (click)="goToPage(p + 1)"
  />
  }
</div>
