<ng-template #pagination let-name="name">
  <div class="pagination join">
    @for (index of pages; track $index) {
    <input
      type="radio"
      name="{{ name || 'paging' }}"
      class="join-item btn btn-square"
      [attr.checked]="page === index + 1 ? true : null"
      (click)="goToPage(index + 1)"
      [attr.aria-label]="index + 1"
      value="{{ index + 1 }}"
    />
    }
  </div>
</ng-template>

<div>
  <div class="py-2">
    <ng-container
      *ngTemplateOutlet="pagination; context: { name: 'topPaging' }"
    ></ng-container>
  </div>

  <div class="flex flex-col flex-wrap">
    @for (sub of subscriptions; track sub.id) {
    <div class="card card-md md:card-side bg-base-200 shadow-sm w-full">
      <figure class="md:w-1/4">
        <img
          class="w-64 h-64"
          width="32"
          height="32"
          [src]="sub.thumbnailUrl"
          alt="Channel Thumbnail"
        />
      </figure>
      <div class="card-body md:w-3/4">
        <div class="card-actions justify-end">
          @if (sub.isSubscribed) {
          <button class="btn btn-primary" (click)="unsubscribe(sub.id)">
            Unsubscribe
          </button>
          } @else {
          <button class="btn btn-ghost" (click)="subscribe(sub.channelId)">
            Subscribe
          </button>
          }
        </div>
        <h2 class="card-title p-2">{{ sub.title }}</h2>
        <p class="text-justify p-2">{{ sub.description }}</p>
      </div>
    </div>
    }
  </div>

  <div class="py-2">
    <ng-container *ngTemplateOutlet="pagination"></ng-container>
  </div>
</div>
