<h2>Permissions</h2>
<table class="table">
  <thead>
    <tr>
      <th rowspan="2">Role</th>
      <th colspan="5">Permissions</th>
    </tr>
    <tr>
      <th>List</th>
      <th>Details</th>
      <th>Create</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    @for (permission of permissions; track permission.roleName) {
    <tr (change)="savePermission(permission)">
      <td>{{ permission.roleName }}</td>
      <td>
        <input
          type="checkbox"
          [checked]="
            calculatePermissions(permission.permissions, PermissionFlags.List)
          "
          (click)="updatePermission(permission, PermissionFlags.List, $event)"
        />
      </td>
      <td>
        <input
          type="checkbox"
          [checked]="
            calculatePermissions(
              permission.permissions,
              PermissionFlags.Details
            )
          "
          (click)="
            updatePermission(permission, PermissionFlags.Details, $event)
          "
        />
      </td>
      <td>
        <input
          type="checkbox"
          [checked]="
            calculatePermissions(permission.permissions, PermissionFlags.Create)
          "
          (click)="updatePermission(permission, PermissionFlags.Create, $event)"
        />
      </td>
      <td>
        <input
          type="checkbox"
          [checked]="
            calculatePermissions(permission.permissions, PermissionFlags.Edit)
          "
          (click)="updatePermission(permission, PermissionFlags.Edit, $event)"
        />
      </td>
      <td>
        <input
          type="checkbox"
          [checked]="
            calculatePermissions(permission.permissions, PermissionFlags.Remove)
          "
          (click)="updatePermission(permission, PermissionFlags.Remove, $event)"
        />
      </td>
    </tr>
    }
  </tbody>
</table>
