/* Card padding variable */
:root {
    --padding-card: 0px;
}
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.card-body {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.container {
    margin: auto;
}
