:root {
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: env(safe-area-inset-left);
}
/* Card padding variable */
:root {
    --card-p: 0px;
}
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.card-body {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.container {
    margin: auto;
}
