<h1>Sites Structure</h1>

<div>
  @for (site of webSites.lastWebsites; track site.id) {
  <div class="card w-96 bg-base-100 shadow-sm m-2">
    <div class="card-body">
      <h2
        class="card-title"
        [(code-editor)]="site.name"
        (code-editorChange)="saveChanges(site)"
      >
        {{ site.name }}
      </h2>
      <p
        [(code-editor)]="site.hostName"
        (code-editorChange)="saveChanges(site)"
      >
        Hostname: {{ site.hostName }}
      </p>
      <div>
        <label class="floating-label">
          <span class="label">Parent: </span>
          <ul class="menu menu-vertical">
            <li>
              <details>
                <summary>
                  {{
                    site.parent
                      ? "Parent site (current: " + site.parent.name + ")"
                      : "Set parent site"
                  }}
                </summary>
                <ul class="px-1 overflow-visible">
                  <li>
                    <a
                      (click)="setParent(site.id, null)"
                      class="text-nowrap hover:bg-base-200"
                      [class.menu-active]="!site.parentId"
                    >
                      Unset parent
                    </a>
                  </li>
                  @for (parent of webSites.lastWebsites; track parent.id) {
                  <li>
                    <a
                      (click)="setParent(site.id, parent.id)"
                      class="text-nowrap hover:bg-base-200"
                      [class.menu-active]="site.parentId === parent.id"
                    >
                      Parent to - {{ parent.name }}
                    </a>
                  </li>
                  }
                </ul>
              </details>
            </li>
          </ul>
        </label>
      </div>
    </div>
  </div>
  }
</div>
