<div class="drawer drawer-end">
  <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <label
      for="my-drawer-4"
      class="drawer-button btn btn-dash btn-accent btn-ghost btn-xs"
      >Media library</label
    >
    <div class="client-region">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="articleForm" (ngSubmit)="createArticle()">
            <div class="card-title">
              <input
                type="text"
                formControlName="articleTitle"
                name="title"
                placeholder="Title..."
              />
            </div>
            <div>
              <input
                type="text"
                formControlName="articleDescription"
                name="description"
                placeholder="Description..."
              />
            </div>
            <div class="card-actions">
              <button
                class="btn"
                type="submit"
                [disabled]="articleForm.invalid"
              >
                Add
              </button>
            </div>
          </form>
        </div>
      </div>
      <ul>
        @for (a of allArticles; track a.id) {
        <li class="card shadow bg-base-200">
          <figure>&nbsp;</figure>
          <h2
            class="card-title bg-slate-700"
            [(code-editor)]="a.title"
            (code-editorChange)="contentChange(a)"
          ></h2>
          <div class="card-body">
            <div class="card-actions justify-end">
              <button class="btn btn-xs btn-primary">Save</button>
            </div>
            <div
              [(content-editor)]="a.description"
              (content-editorChange)="contentChange(a)"
            ></div>
          </div>
        </li>
        }
      </ul>
    </div>
  </div>
  <div class="drawer-side">
    <label
      for="my-drawer-4"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <div class="bg-base-200 text-base-content min-h-full w-80 p-2">
      <div class="h-16">Media library</div>
      <label for="my-drawer-4" class="btn btn-xs btn-primary drawer-button"
        >close x</label
      >
      <div class="flex flex-col space-y-4" [media-library]></div>
    </div>
  </div>
</div>
