<div class="client-region">
  <p>Home component</p>
  <router-outlet></router-outlet>
  <form [formGroup]="articleForm" (ngSubmit)="createArticle()">
    <input type="text" formControlName="articleTitle" name="title" placeholder="Title..." />
    <input type="text" formControlName="articleDescription" name="description" placeholder="Description..." />
    <button type="submit" [disabled]="articleForm.invalid">Add</button>
  </form>
  <ul>
    @for (a of allArticles; track a) {
      <li>
        <div class="card border m-4 shadow">
          <figure>&nbsp;</figure>
          <div class="card-body">
            <div class="card-actions justify-end">
              <button class="btn btn-sm btn-primary">Save</button>
            </div>
            <div>{{ a.title }}</div>
            <code>{{ a.description }}</code>
            <div [(content-editor)]="a.description" (content-editorChange)="contentChange(a)"></div>
          </div>
        </div>
      </li>
    }
  </ul>
</div>
