@if (isLoading) {
<div class="flex justify-center items-center h-96">
  <span class="loading loading-spinner loading-lg m-auto"></span>
</div>
} @else {
<div class="card bg-base-100 shadow-sm mx-auto">
  <div class="card-actions items-center justify-end">
    <ul class="menu menu-horizontal m-0 px-0 z-10">
      <li>
        <details class="dropdown">
          <summary>Publish to website:</summary>
          <ul class="bg-base-100 mt-0">
            @for (site of webSites.lastWebsites; track site.id) {
            <li>
              <a
                (click)="
                  hasSite(article, site)
                    ? unpublishArticle(site.id)
                    : publishArticle(site.id)
                "
                class="text-nowrap hover:bg-base-200"
                [class.menu-active]="hasSite(article, site)"
              >
                Publish to - {{ site.name }}
              </a>
            </li>
            }
          </ul>
        </details>
      </li>
    </ul>
    <button
      class="btn btn-soft btn-info btn-md"
      [attr.disabled]="!article.media?.sourceUrl || null"
      (click)="togglePrintMediaView()"
    >
      Print Media
    </button>
    <button class="btn btn-primary" (click)="saveArticle()">Save</button>
  </div>
  <figure>
    <div [(article-media)]="article.media"></div>
  </figure>
  <div class="card-body">
    <h1 class="card-title m-2" [code-editor]="article.title"></h1>
    <div class="" [content-editor]="article.description"></div>
    @for (block of article.blocks; track block.id) {
    <div [content-editor]="block.description"></div>
    }
  </div>
</div>
}
