<label class="relative">
  <div class="indicator more-height">
    <span
      class="indicator-item indicator-center indicator-middle badge badge-secondary"
    >
      Upload
    </span>
    @if (media.description) {
    <div [content-view]="media.description"></div>
    }
    <input
      type="file"
      class="hidden"
      accept="image/*,video/*,application/pdf"
      (input)="uploadMedia($event)"
    />
  </div>
</label>
<h2>{{ media.title }}</h2>
<code
  #docEditor
  class="block html-code-editor w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent min-h-[100px]"
  placeholder="Enter media html..."
  [(code-editor)]="media.description"
  (code-editorChange)="mediaChange()"
></code>
